/**----IMPORTS----**/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/**----RESET----**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**----ALL-PAGES----**/

body {
    font-family: "Lato", sans-serif;
    background-color: $color-principal;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh
}

main {
    color: $color-secundario;
    background-color: $color-principal;
}

a {
    text-decoration: none;
}

/**----SECCION-COMBUSTIBLES----**/

#nafta-super {
    background-image: url(../img/nafta-super.png);
    @extend %bg-image-fuel;
}

#nafta-premium {
    background-image: url(../img/nafta-premium.png);
    @extend %bg-image-fuel;
}

#diesel {
    background-image: url(../img/diesel-comun.png);
    @extend %bg-image-fuel;
}

#diesel-premium {
    background-image: url(../img/diesel-premium.png);
    @extend %bg-image-fuel;
}

.nuestros-servicios {
    font-size: nth($tamaño-fuente, 4);
    padding: 15px;
    margin: 10px;
}

/**----SECCION-TIENDA----**/

#contenedorProductos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin: 3rem;
    justify-items: center;
}

.menuAcciones {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.mensajeBuscador {
    font-size: 20px;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    height: 350px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(215, 223, 222, 1.0), rgba(85, 87, 86, 1.0));
    box-sizing: border-box;
}

.producto .imgContainer {
    width: 195px;
    height: 150px;
    object-fit: contain;
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto .imgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
}

.productoDetalles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.productoDetalles h3 {
    font-size: 16px;
    text-align: center;
    margin: 8px;
    color: black;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productoDetalles p {
    font-size: 14px;
    color: #403c3c;
    font-weight: bold;
    margin-bottom: 0;
}

#carrito {
    width: 80%;
    display: grid;
    gap: 10px;
}

#productosCarrito {
    word-spacing: 5px;
}

.contenedorCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.tarjetaCarrito  {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}

.eliminarProducto {
    justify-self: center;
    align-self: center;
    width: auto;
}

.tarjetaCarrito div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    background: linear-gradient(0deg, rgba(215, 223, 222, 1.0), rgba(85, 87, 86, 1.0));
}

.tarjetaCarrito div p {
    margin: 0;
    color: #403c3c;
    font-weight: 600;
}

.productoNombre {
    border-radius: 5px 0 0 5px;
}

.productoEliminar {
    border-radius: 0 5px 5px 0;
}

.oculta {
    display: none !important;
}

.filterContainer {
    display:flex;
}

.filterContainer select {
    margin-right: 8px;
}

.searchContainer {
    display: flex;
}

.searchContainer input {
    margin-right: 8px;
}

.carritoAcciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.carritoAccionesDerecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.carritoAccionesTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-radius: 5px;
    border: 2px solid white;
    padding: 8px;
}

.carritoAccionesTotal p {
    margin: 0 8px 0 0;
}

.carritoAccionesTotal :nth-child(2) {
    font-weight: 600;
}

.carritoVacio {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 20px;

}

.bi-emoji-frown-fill {
    margin-left: 10px;
}

/**----SECCION-CONTACTO----**/

.form-description, .map-description {
    font-size: 18px;
}

.form-control:focus {
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 2px 4px rgba(255, 255, 255, 0.1); 
}